# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Release changes
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  test:
    name: Perform unit tests
    runs-on: self-hosted
    permissions:
      contents: read
    steps:
      - name: Checkout the repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Perform unit tests
        run: nix develop -c npm test
  release:
    name: Restart the service
    runs-on: self-hosted
    needs: test
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: read
    steps:
      - name: Restart endpoints
        run: systemctl restart endpoints.service
