# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Release changes
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  release:
    name: Publish valid changes
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout the repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Install a flaked Nix
        uses: DeterminateSystems/nix-installer-action@786fff0690178f1234e4e1fe9b536e94f5433196 # v20
      - name: Outline known infrustructure
        working-directory: .infrastructure
        run: nix run .#tofu -- init
      - name: Ensure infrastructure reason
        working-directory: .infrastructure
        run: |
          nix run .#tofu -- fmt -check
          nix run .#tofu -- validate
      - name: Perform unit tests
        run: |
          (cd calendar && nix develop -c npm test)
      - name: Plan the infrastructure changes
        if: github.event_name == 'pull_request'
        working-directory: .infrastructure
        run: nix run .#tofu -- plan
        env:
          TF_VAR_hosted_zone_id: ${{ secrets.AWS_HOSTED_ZONE_ID }}
      - name: Push to production
        if: github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch'
        working-directory: .infrastructure
        run: nix run .#tofu -- apply -auto-approve
        env:
          TF_VAR_hosted_zone_id: ${{ secrets.AWS_HOSTED_ZONE_ID }}
